.form-actions {
  position: fixed;
  content: "";
  display: table;
  clear: both;
  bottom: 0px;
  border-top: 1px solid #333;
  width: 100%;
  height: auto;
  background: transparent url(floating-buttons-background.png) repeat;
  margin-bottom: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
  left: 0px;
  z-index: 1000;
  text-align: right;
}

.form-actions input.form-submit,
.form-actions a.button {
  margin: 4px;
}
